@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Satoshi', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
 height: 1px;
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f105;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00868b79;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3cddf9;
}